package hello

templ Hello(name string) {
	<div>hello,{ name }</div>
}

templ Button(text string) {
	<button class="button">{ text }</button>
}

templ Comp() {
	<div>Test </div>
	<img src="/home/hsiaocz/go/src/worker/templ/images/test.png"/>
}
