package hello

templ Hello(name string) {
	<div>hello,{ name }</div>
}

templ Button(text string) {
	<button class="button">{ text }</button>
}

templ Comp(){
	<div>Test </div>
	<img src="images/test.png"/>
	<br/>
}
